[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

jupyter = "*"
scikit-learn = "*"
scipy = "*"
numpy = "*"
spacy = "*"
pandas = "*"
stanfordcorenlp = "*"
kanren = "*"
nltk = "*"
wikipedia = "*"


[requires]

python_version = "3.6"
