[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

scrapy = "*"
jupyter = "*"
"warc3" = "*"
matplotlib = "*"


[requires]

python_version = "3.6"
